#header {
  background-color:#bada55;
margin-bottom:2%; 
 height:10%;
  clear:both;
}

#contentwrapper {
margin-bottom:2%;
  clear:both;
  
}
#first {
  background-color:red;
  width:33%;
   height:70%;
  float:left;
 margin-bottom:2%;
}
#second {
  background-color:blue;
  width:33%;
   height:70%;
  float:left;
  margin-bottom:2%;
  padding:0px;
}
#third {
  background-color:#bada55;
  width:33%;
   height:70%;
  float:left;
  margin-bottom:2%;
  padding:0px;
}

#footer {
  background-color:#bada55;
  margin-top:2%;
  clear:both;
  height:10%;
}
